body { margin:0; }
h1 {
	margin-bottom:0;
	padding:0 0 0 20px;
	font-family: 'Brill', 'Garamond', 'Cambria';
	font-size: 24px;
	font-weight: normal;
}
.linetype {
	font-family: 'Brill', 'Garamond', 'Cambria';
}
.actions {
	padding: 10px;
	display: block;
	color: #AAA;
	text-align:center;
	font-family: 'Brill', 'Garamond', 'Cambria';
}
#selectorFilter {
	right:0;
	top:0;
	position:fixed;
	background-color:#EEE;
	padding:10px;
	height:100%;
	width:300px;
	/*width:30%;*/
}
#selectorFilter input {
	padding: 5px;
	margin-bottom:10px;
	/*width: 90%;*/
}
#selector {
	/* font-size: 18px; */
	height: 75%;
	overflow-y:scroll;
}
#selector div {
	margin: 15px 0;
}

.rtl{
	direction:ltr;
}

.credits {
	font-size: 14px;
	color: #AAA;
	font-family: 'Brill', 'Garamond', 'Cambria';
	padding: 10px;
	display: block;
	text-align:center;
}

.gray {
	font-size: 18px;
	color: #AAA;
	font-family: 'Sakkal Majalla', 'Traditional Arabic', 'Arabic Typesetting', 'Geeza Pro';
}

.item {
	font-size: 20px;
	color: #000;
	font-family: 'Sakkal Majalla', 'Traditional Arabic', 'Arabic Typesetting', 'Geeza Pro';
	font-weight: bold;
	line-height: 90%;

}

.legendItem {
	font-size: 22px;
	color: #000;
	font-family: 'Sakkal Majalla', 'Traditional Arabic', 'Arabic Typesetting', 'Geeza Pro';
	font-weight: bold;
	direction:rtl;
}

.axis path,
.axis line {
	fill:none;
	stroke:black;
	shape-rendering:crispEdges;
}

.axis text {
	font-size:12px;
	font-family: 'Garamond', 'Brill', 'Cambria';
}


path.line {
	fill: none;
	stroke:#FF0000;
}